.one {
    width: 200px;
    height: 200px;

}

.green{
    background-color:green;
}

.blue{
    background-color:blue;
}

.border-red{
    border: 50px solid red;
}

.padding-space{
    padding-top: 50px;   
    padding-left: 50px;
   
}

.margin-space{
    margin-top: 20px;
    margin-left: 20px;
}

h1{
    color:#9B59B6;
}

p{
    font-size:16px;
    font:Verdana;
    font-style:italic;
    topic:
}

.new-style{
    color:#2980B9
}